<h1>Enter Your Postcode</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="Postcode">
</form>

<a href="/address/city"><button type="button" name="button" >Previous</button></a><br>
<a href="/index/first"><button type="button" name="button" >Index controller</button></a>
<a href="/user/first_name"><button type="button" name="button" >User controller</button></a>
<a href="/bank/name"><button type="button" name="button" >Bank controller</button></a>
