<h1>Welcome to my controller index!</h1>

<h2>Here is a list of all my controllers:</h2>

<ul>
  <li> <a href="/index/first">Index Controller</a> </li>
  <li> <a href="/index/second">User Controller</a> </li>
  <li> <a href="/index/third">Address Controller</a> </li>
  <li> <a href="/index/fourth">Bank Controller</a> </li>
</ul>
