<h1>User Controller</h1>

<ul>
  <li> <a href="/user/first_name">First Name</a> </li>
  <li> <a href="/user/last_name">Last Name</a> </li>
  <li> <a href="/user/gender">Gender</a> </li>
  <li> <a href="/user/email">Email</a> </li>
</ul>
