<h1>Address Controller</h1>

<ul>
  <li> <a href="/address/house_number">House Number</a> </li>
  <li> <a href="/address/road">Road</a> </li>
  <li> <a href="/address/city">City</a> </li>
  <li> <a href="/address/postcode">Postcode</a> </li>
</ul>
