<h1>Enter Your Card Number</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="Card number">
</form>

<a href="/bank/name"><button type="button" name="button" >Previous</button></a>
<a href="/bank/sort_code"><button type="button" name="button" >Next</button></a>
