<h1>Enter Your Card Expiry Date</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="Expiry Date">
</form>

<a href="/bank/sort_code"><button type="button" name="button" >Previous</button></a><br>
<a href="/index/first"><button type="button" name="button" >Index controller</button></a>
<a href="/user/first_name"><button type="button" name="button" >User controller</button></a>
<a href="/address/house_number"><button type="button" name="button" >Address controller</button></a>
