<h1>Enter Your Sort Code</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="Sort Code">
</form>

<a href="/bank/account_number"><button type="button" name="button" >Previous</button></a>
<a href="/bank/expiry_date"><button type="button" name="button" >Next</button></a>
