<h1>Enter Your First Name</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="First name">
</form>

<a href="/user/last_name"><button type="button" name="button" >Next</button></a><br>
<a href="/index/first"><button type="button" name="button" >Index controller</button></a>
<a href="/address/house_number"><button type="button" name="button" >Address controller</button></a>
<a href="/bank/name"><button type="button" name="button" >Bank controller</button></a>
