<h1>Enter Your Gender</h1>

<form class="" action="index.html" method="post">
  <input type="radio" name="gender" value="male" checked> Male <br>
  <input type="radio" name="gender" value="female" > Female <br>
  <input type="radio" name="gender" value="" > Other: <br>
  <input type="text" name="" value="" placeholder="Other">
</form>

<a href="/user/last_name"><button type="button" name="button" >Previous</button></a>
<a href="/user/email"><button type="button" name="button" >Next</button></a>
