<h1>Enter Your Last Name</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="" placeholder="Last Name">
</form>

<a href="/user/first_name"><button type="button" name="button" >Previous</button></a>
<a href="/user/gender"><button type="button" name="button" >Next</button></a>
